.header {
    position: fixed; 
    width: 100vw;  
    background-color: var(--default-bg-color);
    z-index: 999;
}

.header__container {
    border-bottom: 1px solid #cecfce;
    padding: 1.5rem 3.5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__logo img {
    width: 65px;
    height: 65px;
}

.header__title {
    font-weight: 700;
}


.header__nav ul {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.header__nav a {
    color: var(--default-text-color);
    font-weight: 500;
}

.header__toolbar {
    display: flex;
    column-gap: 16px;
}

#instagram-link img {
    width: 30px;
    height: 30px;
}

#search-btn {
    width:  30px;
    height: 30px;
    background:  url(../assets/icons/search.svg) no-repeat center / cover;
}

.header__menu-btn {
    display: none;

    width:  30px;
    height: 30px;
    background:  url(../assets/icons/menu.svg) no-repeat center / cover;
}



@media (max-width: 900px) {
    
    .header__container {
        padding: 1rem 2.5rem;
        justify-content: space-between;
    }

    .header__nav {
        display: none;
    }

    .header__nav--active {
        display: flex;
        position: absolute;
        row-gap: 1.5rem;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        background-color: var(--default-bg-color);

        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;

        padding: 2rem;
    }

    .header__nav ul {
        padding: 6rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }

    .header__nav a {
        font-size: 1.35rem;
    }

    #header-menu-btn {
        display: block;
    }

    .header__menu-btn--active {
         background:  url(../assets/icons/close.svg) no-repeat center / cover;
    }



}