@import "./reset.css";
@import "./base.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --default-bg-color: #FFFFFD;
    --default-text-color: #1C352D;
    --default-hiperlink-text-color: #143e7c;
    --color-lighter-gray: #e6e6e6;
    --color-regular-gray: #d0d0d0; 

    --default-text-font: 'Inter', sans-serif;
    --blockquote-text-font:  "Noto Serif",serif;
}   

body {
    position: relative;
    background-color: var(--default-bg-color);
    box-sizing: border-box;
    overflow-x: hidden;

    color: var(--default-text-color);
    font-family: var(--default-text-font);
    font-size: 1rem;
    line-height: 1.125;
    height: 100vh;

}

a:hover {
    opacity: .8;
}