.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8rem 0 3rem;
}

.content__title {
    align-self: center;
    
    font-size: 3rem;
    font-weight: 800;

    margin-top: 2rem;
}

.archives {
    margin-top: 4rem;
    display: grid;

    padding: 0 1rem;
}

.archives__title {
    font-weight: 600;
    text-transform: uppercase;
    padding:  0 0 1rem;
    border-bottom: 1px solid #cbd2d0;
}

.archives__grid {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 2.5rem;
    padding: 2rem 0 0;
}

.sidebar {
    position: relative;
}

.sidebar__inner {

    background-color: var(--color-lighter-gray);

    position: sticky;
    width: 100%;
    max-width: 290px;
    top: 20%;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    border-radius: 8px;
    padding: 2rem;
}

.sidebar__inner h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar__inner a {
    color: var(--default-text-color);
}

.archives__card-container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.archive__card-item {
    max-width: 700px;

    border-bottom: 1px solid var(--color-lighter-gray);
    padding: 1rem;
    display: flex;
    flex-direction: column;

}
.archive__card-title {
    color: var(--default-text-color);
    font-size: 1.35rem;
    font-weight: 800;
}

.archive__card-desc {
    margin-top: 1rem;
}

.archive__card-meta {
    margin-top: 1rem;
}

.archive__card-subject {
    font-weight: 700;
    margin-top: .5rem;
}

.archive__card-link {
    padding:  .8rem 1rem;
    background-color: var(--default-text-color);
    width: max-content;
    border-radius: .7rem;
    margin: 1rem 0;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 1280px) {
    .sidebar {
        display: none;
    }

    .archives__grid {
        grid-template-columns: auto;
    }
}