.content {
    padding: 8rem 2rem;
    display: flex;
    justify-content: center;
}

.article {
    padding: 1rem 0;
    max-width: 900px;
    font-size: 1.125rem;
    line-height: 1.2;
    text-align: justify;

}

.article {
    line-height: 1.6;
}

.article__header {
    padding: 1rem 0 2rem;
    border-bottom: 2px solid var(--color-lighter-gray);
}

.article__title {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.article__description {
    margin: 2rem auto 0;
    text-align: center;
    max-width: 80%;
}

.article__meta {
    text-align: center;
    margin-top: 2rem;
}

.article__meta span {
    font-weight: 500;
}

.article__topic {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.article__subtitle {
    font-size: 2rem;
    font-weight: 800;
    position: relative;
}

.article blockquote {
    border-left: 6px solid var(--color-regular-gray);
    padding: 1rem 2rem;

    font-size: 1.25rem;
    font-family: var(--blockquote-text-font);

}

.article a {
    color: var(--default-hiperlink-text-color);
    text-decoration: underline;
}

.article a:hover {
    opacity: .6;
}

.article em {
    font-style: italic;
}

.article__card {
    margin:0  auto;
    padding: 0 2rem;
}

.article__card--image img {
    max-width: 900px;
    width: 100%;
}

.article__card--image figcaption {
    text-align: center;
}

.article strong {
    font-weight: 500;
}